@model PlanIt.Models.Club

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_ClubsLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Club</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patron)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patron)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Funds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Funds)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idClub }) |
    @Html.ActionLink("Back to List", "Index")
</p>
