@model PlanIt.Models.Club_member

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_ClubsLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Club Member</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Club Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Club.Name)
        </dd>

        <dt>
            Position
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.Name)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.Student.DOB)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Student.Class)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.Class)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Student.Major)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.Major)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idClub_members }) |
    @Html.ActionLink("Back to List", "Index")
</p>
