@model PlanIt.Models.Events_has_Member

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_ClubsLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Events_has_Member</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Club_member.Student_idStudent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Club_member.Student_idStudent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Event.Club_idClub)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Event.Club_idClub)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idEvents_has_Member }) |
    @Html.ActionLink("Back to List", "Index")
</p>
