@model IEnumerable<PlanIt.Models.Events_has_Member>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ClubsLayout.cshtml";
}

<h2>Event Registrations</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Club_member.Student.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Event.Club.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model=>model.Why)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Club_member.Student.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Event.Club.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Why)
        </td>
    </tr>
}

</table>
