@model IEnumerable<PlanIt.Models.Event>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ClubsLayout.cshtml";
}

<h2>Your registered Events</h2>
<h1>@ViewBag.seats</h1>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.seats)
        </th>


        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Date)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Location)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.description)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.seats)
    </td>

    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.idEvents }) |
        @Html.ActionLink("Details", "Details", new { id = item.idEvents }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.idEvents }) |
        @Html.ActionLink("Registrations", "Index", "Events_has_Member")
    </td>
</tr>
}

</table>
